.editable-span-base {
  padding: 0 4px;
  border-radius: 4px;
}

.editable-span-editing {
  outline: 2px dashed #93c5fd;
}

.editable-span-hover {
  outline: 2px dashed #d1d5db;
  cursor: text;
}

.editable-span-base:focus-visible:not(.editable-span-editing) {
  outline: 2px solid #60a5fa;
  background-color: #eff6ff;
}
