.zenuml .sequence-diagram * {
  box-sizing: inherit;
}

.zenuml .sequence-diagram {
  /* Reset line-height for the diagram */
  line-height: normal;
}

/* .participant is shared by MessageLayer and LifeLineLayer */
.zenuml .participant {
  /* don't override */
  /* Preserve the old border + padding total: 4px horizontally, 2px vertically. */
  border-width: 1px;
  padding: 1px 3px;
  min-width: 80px;
  max-width: 250px;
  text-align: center;
  pointer-events: all;
}
