@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MS Sans Serif;
  src: url("/fonts/MS Sans Serif.ttf") format("truetype");
}

.zenuml {
  font-family: Helvetica, Verdana, serif;
  font-size: 16px;
}

.zenuml .theme-neon {
  font-family: MS Sans Serif;
}

@layer base {
  :root {
    --color-bg-base: 255, 255, 255;
    --color-backup-white: 255, 255, 255;
    --color-text-base: #000;
    --color-text-secondary: #333;
    --color-border-base: #000;
    --color-border-primary: #368eff;
  }

  .theme-default {
    --color-bg-base: 255, 255, 255;
    --color-text-base: #222;
    --color-border-base: #666;

    /* Message */
    --color-message-arrow: #000;
    --color-text-message-hover: 255, 255, 255;
    --color-bg-message-hover: #000;

    /* Participant */
    --color-bg-participant: 255, 255, 255;

    /* Occurrence */
    --color-bg-occurrence: 222, 222, 222;
  }

  .theme-clean-light {
    --color-bg-base: 255, 255, 255;
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 255, 255;
    --color-text-base: #353748;
    --color-border-base: #c8c9c9;
    --color-border-frame: #e5e9f0;

    /* Fragment */
    --color-text-fragment-header: #368eff;
    --color-text-fragment: #368eff;

    /* Message */
    --color-text-message: #368eff;
    --color-message-arrow: #368eff;
    --color-text-message-hover: 255, 255, 255;
    --color-bg-message-hover: #368eff;

    /* Participant */
    --color-text-participant: #368eff;
    --color-shadow-participant: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);
    --color-bg-participant: 237, 244, 254;
    --color-border-participant: #368eff;

    /* Occurrence*/
    --color-bg-occurrence: 255, 255, 255;
    --color-border-occurrence: #368eff;
    --color-shadow-occurrence: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);

    /* Bottom control bar */
    --color-text-control: #333333;
  }

  .theme-clean-dark {
    --color-bg-base: 17, 22, 41;
    --color-bg-canvas: 17, 22, 41;
    --color-bg-frame: 17, 22, 41;
    --color-text-base: #cecfd2;
    --color-border-base: #cecfd2;
    --color-border-frame: #cecfd2;

    /* Fragment */
    --color-text-fragment-header: #cecfd2;
    --color-text-fragment: #cecfd2;

    /* Message */
    --color-message-arrow: #536fff;
    --color-text-message-hover: 255, 255, 255;
    --color-bg-message-hover: #536fff;

    /* Participant */
    --color-text-participant: #cecfd2;
    --color-shadow-participant: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);
    --color-bg-participant: 89, 110, 246;
    --color-border-participant: #cecfd2;

    /* Occurrence */
    --color-bg-occurrence: 89, 110, 246;
    --color-border-occurrence: #cecfd2;
    --color-shadow-occurrence: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);

    /* Bottom control bar */
    --color-text-control: #f3f3f3;
  }

  .theme-neon {
    --color-bg-base: 0, 0, 0;
    --color-bg-canvas: 0, 0, 0;
    --color-bg-frame: 0, 0, 0;
    --color-text-base: #8ffc5b;
    --color-border-base: #60ff33;
    --color-border-frame: #60ff33;

    /* Fragment */
    --color-text-fragment-header: #8ffc5b;
    --color-text-fragment: #8ffc5b;

    /* Message */
    --color-message-arrow: #8ffc5b;
    --color-text-message-hover: 0, 0, 0;
    --color-bg-message-hover: #8ffc5b;

    /* Participant */
    --color-text-participant: #8ffc5b;
    --color-shadow-participant: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);
    --color-bg-participant: 0, 0, 0;
    --color-border-participant: #8ffc5b;

    /* Occurrence */
    --color-bg-occurrence: 143, 252, 91;
    --color-border-occurrence: #8ffc5b;
    --color-shadow-occurrence: 0px 2px 6px 2px rgba(58, 130, 237, 0.1);

    /* Bottom control bar */
    --color-text-control: #f3f3f3;
  }

  .theme-mermaid {
    --color-bg-base: 255, 255, 255;
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 255, 255;
    --color-text-base: #222;
    --color-border-base: #666;
    /* Occurrence */
    --color-bg-occurrence: 222, 222, 222;
  }

  .theme-mermaid .footer {
    visibility: hidden;
  }

  .theme-darcula {
    /* Frame */
    --color-bg-base: 43, 43, 43;
    --color-bg-canvas: 43, 43, 43;
    --color-bg-frame: 43, 43, 43;
    --color-border-frame: 204, 204, 204;

    /* Title */
    --color-bg-title: 43, 43, 43;
    --color-text-title: #f8f8f2;

    /* Participant */
    --color-bg-participant: 68, 71, 90;
    --color-text-participant: #f8f8f2; /* Participant name, stereotype */
    --color-border-participant: 204, 204, 204;

    /* Messages */
    --color-text-message: #ff9900;
    --color-message-arrow: 204, 204, 204;
    --color-bg-message-hover: 166, 222, 255;
    --color-text-message-hover: 23, 114, 237;
    --color-text-comment: 102, 102, 102;

    /* Fragment */
    --color-bg-fragment-header: 68, 71, 90;
    --color-text-fragment: #8be9fd; /* Fragment Headers and conditions */
    --color-border-fragment: 204, 204, 204;

    /* Occurrence */
    --color-bg-occurrence: 68, 71, 90;
    --color-border-occurrence: 85, 85, 85;

    /* Other */
    --color-text-link: 166, 222, 255;
    --color-text-control: 226, 186, 156;
  }

  .theme-sky {
    /* Frame */
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 255, 255;
    --color-border-frame: 204, 204, 204;

    /* Title */
    --color-bg-title: 222, 236, 251;
    --color-text-title: 3, 44, 114;

    /* Participant */
    --color-bg-participant: 222, 236, 251;
    --color-text-participant: 3, 44, 114; /* Participant name, stereotype */
    --color-border-participant: 3, 44, 114; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 3, 44, 114;
    --color-message-arrow: 3, 44, 114;
    --color-bg-message-hover: 166, 222, 255;
    --color-text-message-hover: 23, 114, 237;
    --color-text-comment: 102, 102, 102;

    /* Fragment */
    --color-bg-fragment-header: 240, 240, 240;
    --color-text-fragment: 3, 44, 114; /* Fragment Headers and conditions */
    --color-border-fragment: 3, 44, 114;

    /* Occurrence */
    --color-bg-occurrence: 222, 236, 251;
    --color-border-occurrence: 85, 85, 85;

    /* Other */
    --color-text-link: 166, 222, 255;
    --color-text-control: 166, 222, 255;
  }

  .theme-idle-afternoon {
    /* Frame */
    --color-bg-base: 240, 238, 229;
    --color-bg-canvas: 240, 238, 229;
    --color-bg-frame: 243, 245, 247;
    --color-border-frame: 50, 78, 57;

    /* Title */
    --color-bg-title: 240, 238, 229;
    --color-text-title: 24, 46, 39;

    /* Participant */
    --color-bg-participant: 243, 245, 247;
    --color-text-participant: 24, 46, 39; /* Participant name, stereotype */
    --color-border-participant: 24, 46, 39; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 3, 8, 9;
    --color-message-arrow: 50, 78, 57;
    --color-bg-message-hover: 174, 166, 144;
    --color-text-message-hover: 0, 0, 0;
    --color-text-comment: 3, 8, 9;

    /* Fragment */
    --color-bg-fragment-header: 240, 240, 240;
    --color-text-fragment: 24, 46, 39; /* Fragment Headers and conditions */
    --color-border-fragment: 52, 67, 55;

    /* Occurrence */
    --color-bg-occurrence: 243, 245, 247;
    --color-border-occurrence: 52, 67, 55;

    /* Other */
    --color-text-link: 52, 67, 55;
    --color-text-control: 151, 74, 155;
  }

  .theme-coles {
    /* Frame */
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 222, 0;
    --color-border-frame: 238, 21, 31;

    /* Title */
    --color-bg-title: 255, 255, 255;
    --color-text-title: 24, 46, 39;

    /* Participant */
    --color-bg-participant: 243, 245, 247;
    --color-text-participant: 0, 0, 0; /* Participant name, stereotype */
    --color-border-participant: 52, 67, 55; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 0, 0, 0;
    --color-message-arrow: 0, 0, 0;
    --color-bg-message-hover: 238, 21, 31;
    --color-text-message-hover: 255, 255, 255;
    --color-text-comment: 0, 0, 0;

    /* Fragment */
    --color-bg-fragment-header: 238, 21, 31;
    --color-text-fragment: 255, 255, 255; /* Fragment Headers and conditions */
    --color-border-fragment: 238, 21, 31;

    /* Occurrence */
    --color-bg-occurrence: 243, 245, 247;
    --color-border-occurrence: 52, 67, 55;

    /* Other */
    --color-text-link: 52, 67, 55;
    --color-text-control: 151, 74, 155;
  }

  .theme-coles .footer {
    background-color: 255, 255, 255;
  }

  .theme-woolworths {
    /* Frame */
    --color-bg-canvas: 230, 234, 243;
    --color-bg-frame: 0, 134, 61;
    --color-border-frame: 0, 134, 61;

    /* Title */
    --color-bg-title: 255, 255, 255;
    --color-text-title: 18, 34, 47;

    /* Participant */
    --color-bg-participant: 172, 203, 81;
    --color-text-participant: 0, 0, 0; /* Participant name, stereotype */
    --color-border-participant: 52, 67, 55; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 18, 34, 47;
    --color-message-arrow: 0, 134, 61;
    --color-bg-message-hover: 255, 254, 251;
    --color-text-message-hover: 255, 255, 255;
    --color-text-comment: 0, 0, 0;

    /* Fragment */
    --color-bg-fragment-header: 172, 203, 81;
    --color-text-fragment: 18, 34, 47; /* Fragment Headers and conditions */
    --color-border-fragment: 0, 134, 61;

    /* Occurrence */
    --color-bg-occurrence: 172, 203, 81;
    --color-border-occurrence: 52, 67, 55;

    /* Other */
    --color-text-link: 52, 67, 55;
    --color-text-control: 51, 92, 128;
  }

  .theme-anz {
    /* Frame */
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 255, 255;
    --color-border-frame: 8, 159, 216;

    /* Title */
    --color-bg-title: 255, 255, 255;
    --color-text-title: 0, 110, 156;

    /* Participant */
    --color-bg-participant: 252, 253, 248;
    --color-text-participant: 0, 171, 216; /* Participant name, stereotype */
    --color-border-participant: 0, 171, 216; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 66, 164, 224;
    --color-message-arrow: 8, 159, 216;
    --color-bg-message-hover: 0, 110, 156;
    --color-text-message-hover: 255, 255, 255;
    --color-text-comment: 0, 0, 0;

    /* Fragment */
    --color-bg-fragment-header: 66, 164, 224;
    --color-text-fragment: 0, 110, 156; /* Fragment Headers and conditions */
    --color-border-fragment: 8, 159, 216;

    /* Occurrence */
    --color-bg-occurrence: 252, 253, 248;
    --color-border-occurrence: 0, 110, 156;

    /* Other */
    --color-text-link: 201, 216, 231;
    --color-text-control: 51, 92, 128;
  }

  .theme-anz .fragment .header {
    color: white;
  }

  .theme-nab {
    --color-bg-base: 242, 244, 246;
    --color-bg-canvas: 242, 244, 246;
    --color-text-base: 255, 255, 255;

    /* Participant */
    --color-bg-participant: 195, 0, 0;
    --color-text-participant: 255, 255, 255; /* Participant name, stereotype */
    --color-border-participant: 195, 0, 0; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 195, 0, 0;

    /* Fragment */
    --color-bg-fragment-header: 195, 0, 0; /* Fragment Headers */
    --color-text-fragment-header: 255, 255, 255; /* Fragment Headers */
  }

  .theme-google {
    --color-white: 255, 255, 255;
    --color-red-google: 219, 68, 55;
    --color-blue-google: 66, 133, 244;
    --color-green-google: 15, 157, 88;
    --color-yellow-google: 244, 180, 0;

    /* Frame */
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 242, 244, 246;
    --color-border-frame: 66, 133, 244;

    /* Title */
    --color-bg-title: 66, 133, 244;
    --color-text-title: 255, 255, 255;

    /* Participant */
    --color-bg-participant: 219, 68, 55;
    --color-text-participant: 255, 255, 255; /* Participant name, stereotype */
    --color-border-participant: 66, 133, 244; /* Participant border and Lifeline */

    /* Messages */
    --color-text-message: 219, 68, 55;
    --color-message-arrow: 219, 68, 55;
    --color-bg-message-hover: 255, 254, 251;
    --color-text-message-hover: 255, 255, 255;
    --color-text-comment: 0, 0, 0;

    /* Fragment */
    --color-bg-fragment-header: 15, 157, 88;
    --color-text-fragment: 255, 255, 255; /* Fragment Headers and conditions */
    --color-border-fragment: 66, 133, 244;

    /* Occurrence */
    --color-bg-occurrence: 244, 180, 0;
    --color-border-occurrence: 66, 133, 244;

    /* Other */
    --color-text-link: 201, 216, 231;
    --color-text-control: 51, 92, 128;
  }

  .theme-diagramly {
    /* Frame */
    --color-bg-base: 255, 255, 255;
    --color-bg-canvas: 255, 255, 255;
    --color-bg-frame: 255, 255, 255;
    --color-text-base: 23, 43, 77;
    --color-border-base: #000000;
    --color-border-frame: #b366ff;

    /* Title */
    --color-bg-title: 255, 255, 255;
    --color-text-title: 23, 43, 77;

    /* Participant */
    --color-bg-participant: 255, 255, 255;
    --color-text-participant: 23, 43, 77;
    --color-border-participant: #b366ff;
    --color-shadow-participant: 179, 102, 255, 0.1;

    /* Messages */
    --color-text-message: #4b9eff;
    --color-message-arrow: #4b9eff;
    --color-bg-message-hover: 179, 102, 255;
    --color-text-message-hover: 255, 255, 255;
    --color-text-comment: 107, 119, 140;

    /* Fragment */
    --color-bg-fragment-header: 245, 240, 255;
    --color-text-fragment: #b366ff;
    --color-border-fragment: #b366ff;

    /* Occurrence */
    --color-bg-occurrence: 255, 255, 255;
    --color-border-occurrence: #b366ff;

    /* Other */
    --color-text-link: #4b9eff;
    --color-text-control: #b366ff;
  }
}
