name: E2E

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [20] # Work with 18. https://github.com/cypress-io/github-action/issues/534#issuecomment-1115947632
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sudo -H pip install setuptools

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}

      # Cache Cypress binary
      - name: Cache Cypress binary
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            ~/Library/Caches/Cypress
          key: cypress-binary-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            cypress-binary-${{ runner.os }}-

      # Explicitly install Cypress binary
      - name: Install Cypress binary
        run: |
          pnpm install cypress@10.11.0 --no-save
          npx cypress install
          npx cypress verify
          npx cypress cache list

      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6.6.1
        with:
          browser: chrome
          build: pnpm build:site
          start: pnpm preview
          command: pnpm run cy
          wait-on: http://127.0.0.1:8080
          auto-cancel-after-failures: 2
      - name: Upload artifacts # Find artifacts under actions/jobs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: snapshots
          path: ./cypress/
